body{
    background-color: #21201d;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,button{
    border-radius: 4px;
}

input:checked + label.label-input-tarefa{
    text-decoration: line-through;
    color: grey;
}

.container{
    width: 260px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between
}

